@import "simplegrid.less";
@import "themes/light.less";

* {
  box-sizing: border-box;
  -webkit-user-select: none;
          user-select: none;
    -webkit-user-drag: none;
     -khtml-user-drag: none;
            user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 480px) {
  html, body {
    overflow: hidden;
  }
}

body {
  margin: 0;
  padding: 0px;
  background: #101519;
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.4em;
}

.nav-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  background: #101519;
  border-right: 1px solid #1a2126;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
}

.nav-left-list {
  margin: 0;
  padding: 10px 0;
}

.nav-left-item {
  display: block;
  padding: 15px 0;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  opacity: .6;

  &.active {
    opacity: 1;
  }

  .material-icons {
    display: block;
    margin: 0 auto 5px auto;
  }
}

.main {
  padding-left: 80px;
}

.section {
  position: absolute;
}

.section:after {
	content: "";
	display: table;
	clear: both;
}

.box {
  position: absolute;
  display: table;
  table-layout: fixed;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #1a2126;
  transition: opacity 0.3s ease, background 0.6s;
}

.box-clickable-active {
  transition-duration: 0ms;
  background: #303b44;
}

.box-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.heading {
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 10px;
  white-space: nowrap;
  //overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  padding: 14px 0;
  cursor: pointer;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #eeeeee;
  border-radius: 100%;
}
input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1f1f1;
}

// Icon sizes
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }
